/* Rounded UI for Discord */
:root {
    --radius: 15px; /* Adjust the roundness */
}

.container-1ov-mD, /* Chat input */
.chatContent-3KubbW, /* Chat window */
.message-2CShn3, /* Messages */
.scroller-1JbKMe, /* Server List */
.wrapper-1_HaEi, /* Server Icons */
.sidebar-1tnWFu, /* Member List */
.channel-1Shao0, /* Channel List */
.toolbar-3_r2xA { /* Top Bar */
    border-radius: var(--radius);
    overflow: hidden;
}
